div {
    /*border: 2px solid red;
    width: 20px;
    height: 20px;
    flex: 1;
    background-color: blue;*/
    flex: 1 1 0;
    height: 40px;
}
#container {
    display: flex;
}
.row {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    border: 2px solid black;
}
.hovered {
    background-color: blue;
}